# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log


ansible/inventory.ini
ansible/group_vars/airflow.yml


*DS_Store
# Lambda build artifacts
lambda/build/

airflow/logs/
airflow/dbt/target/
airflow/dbt/logs/
dbt.log


# dbt
dbt/profiles.yml
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Python
__pycache__/
*.pyc

# Sample data generated locally
scripts/sample_data/
