[Unit]
Description=Airflow webserver
After=network.target

[Service]
Type=simple
User={{ airflow_user }}
EnvironmentFile={{ airflow_home }}/airflow.env
ExecStart={{ airflow_home }}/venv/bin/airflow webserver --port 8080
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
